body {
  font-family: sans-serif;
}

#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background-color: #000;
  justify-content: center;
  top: 0;
}

#navbar p {
  color: #fff;
  text-align: center;
}
